<style>
    #sidebarMenu {

        max-width: 350px;

    }
</style>

<header>
    <div class="row">
        <div class="col-md-4">
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                    <div class="list-group list-group-flush mx-3 mt-4">
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                            <span>Account Settings</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                            <span>Make Payments Online</span>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                            <span>Explore Collages</span>
                        </a>


                        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                            <span>Apply To Collage</span>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                            <span>Dashboard</span>
                        </a>

                        <a href="#"
                            class="list-group-item list-group-item-action py-2 ripple"><span>Analytics</span></a>
                        <a href="#"
                            class="list-group-item list-group-item-action py-2 ripple"><span>International</span></a>

                        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><span>Users</span></a>
                        <a href="#" class="text-danger list-group-item list-group-item-action py-2 ripple"><span>Danger
                                Zone</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>


</header>