<footer class="footer">
        
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <a href="#" class="footer-site-logo bold">NoQueue</a>
        <p>Online Platform for students all around the world</p>
      </div>
      <div class="col-md-2 ml-auto">
        <h3>Payment</h3>
        <ul class="list-unstyled links">
          <li><a class="sub-links text-muted" href="/apply">Study</a></li>
          <li><a class="sub-links text-muted" href="/custom-order">Custom Items</a></li>
          <li><a class="sub-links text-muted" href="/search_query=accessories">Accessories</a></li>
          <li><a class="sub-links text-muted" href="#">Website editors</a></li>
          <li><a class="sub-links text-muted" href="#">Online retail</a></li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto">
        <h3>Support</h3>
        <ul class="list-unstyled links">
          <li><a class="sub-links text-muted" href="#">Events</a></li>
          <li><a class="sub-links text-muted" href="#">News</a></li>
          <li><a class="sub-links text-muted" href="#">Awards</a></li>
          <li><a class="sub-links text-muted" href="#">Testimonials</a></li>
          <li><a class="sub-links text-muted" href="#">Online retail</a></li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto">
        <h3>About</h3>
        <ul class="list-unstyled links">
          <li><a class="sub-links text-muted" href="/about">About us</a></li>
          <li><a class="sub-links text-muted" href="#">Services</a></li>
          <li><a class="sub-links text-muted" href="#">Team</a></li>
          <li><a class="sub-links text-muted" href="faq">FAQ</a></li>
          <li><a class="sub-links text-muted" href="#">Contacts</a></li>
        </ul>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12 pb-4">
        <div class="line"></div>
      </div>
      <div class="col-md-6 text-md-left">
        <ul class="list-unstyled link-menu nav-left">
          <li><a href="/info/privacy-policy" class="text-white">Privacy Policy</a></li>
          <li><a href="/info/terms-of-service" class="text-white">Terms &amp; Conditions</a></li>
          <li><a href="/exceptions/feature-still-in-development" class="text-white">Code of Conduct</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-unstyled social nav-right">
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-pinterest"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <p><small>Team of creative, young people who decided to transfer the payment experience to the online, digital world so that it can be done in just a few clicks</small></p>
      </div>
    </div>
  </div>
  
</div>
</footer>