{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="min-height: 80vh;">

    <div class="d-flex flex-column h-100 w-100 justify-content-center p-4 align-items-center">
        <h1>Transaction Successful</h1>
        <p>Thank you for your purchase! Your transaction was successful.</p>
        

        <img class="mt-4" src="/static/main/img/success-icon.png" style="max-width: 500px;" alt="">


        <a class="btn btn-primary my-4" href="/">Return Home</a>
        

    </div>

 
</div>

{% endblock %}